
<div ng-class="{closed: !$ctrl.open}" class="form29-search">
  <div ng-click="$ctrl.open = !$ctrl.open" class="closed-search"><i class="fa fa-search fa-lg"></i></div>
  <form ng-submit="$ctrl.searchText($ctrl.searchedValue)" class="opened-search">
    <div ng-click="$ctrl.toggleOpen()" class="form-group col-xs-12 hide-search"><i ng-bind="$ctrl.hideText" class="fa fa-reply"></i></div>
    <div class="form-group col-xs-12">
      <input placeholder="{{$ctrl.searchPlaceholder}}" ng-model="$ctrl.searchedValue" ng-change="$ctrl.checkEmpty($ctrl.searchedValue)" class="form-control"/>
    </div>
    <div class="form-group col-xs-12 submit-search">
      <button type="submit" ng-disabled="!$ctrl.searchedValue" ng-bind="$ctrl.submitText" class="btn btn-success"></button>
    </div>
  </form>
</div>